extends layout/main

block content
	- var payment_details = JSON.stringify(payment, null, 2);
	.container
		h1 Pagamento completato!
		ul.collapsible(data-collapsible='accordion')
			li
				.collapsible-header
					i.material-icons mode_edit
					| Dettagli del pagamento
				.collapsible-body
					span= payment_details